#fly {
  padding: 7px 30px;
  border-radius: 3px;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  color: #fff;
  background: #ffc436;
  cursor: pointer;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.5);
  border-radius: 68px;
}

h1 {
  font-size: 50px;
  font-weight: 700;
  text-shadow: 3px 4px rgba(255, 255, 255, 0.5);
}
